body {
    width: 100vw;
    height: 50vh;
    
   
    font-size: 25px;
  }
*, *::before, *::after {
    box-sizing: border-box;
  }
  .custom-field {
    position: relative;
    font-size: 14px;
    border-top: 20px solisd transparent;
    margin-bottom: 5px;
    --field-padding: 12px;
    display: flex;
    flex-direction: column;
    
    align-items: center;
  padding-top: 20px;

    
  }

  .custom-field .placeholder{
    position: absolute;
   left: calc(50%);
    top: calc(50% + 1px);
    transform: translate(-50%);
    transition:
    top 0.3 ease-in,
    font-size 0.3 ease-in,
    color 0.3 ease-in;
    
    
  }
  .custom-field input:focus + .placeholder{
    top: 5px;
    font-size: 10px;
    color: #f06e13;
     
  }
  
  .custom-field input {
    border-radius: 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    
    transition: background-size 3s ease;
  }
  
  
  .custom-field input.dirty,
  .custom-field input:not(:placeholder-shown),
  .custom-field input:focus {
    background-size: 100% 0.15em, 100% 0.1em, 100%;
  }
  

  