
.header{
    color:#f79651df;

}

.header:hover
{
    color: rgba(0, 0, 0, 0.191);
    transition: all 0.25s ease-out;
}
.wrap-image {
    position: relative;
}
img{
    border-radius: 50%;
    align-content: center;
}
.wrap-image::before {
    content: "";

    width: 85px;
    height: 85px;
    position: absolute;
    z-index: -1;
    border: 1px solid #f06f133e;
    border-radius: 100% ;
    transition: all 0.25s ease-out;
}
.wrap-image::before {
    background-color: #f79651df;
    top: -4px;
    left: -4px;
}

.wrap-image:hover::before {
    top: 15px;
    left: 15px;
}
